body{
margin:0;
padding:0;
line-height: 1.5em;
}

b{font-size: 110%;}
em{color: red;}

#maincontainer{
width: 1365px; /*Width of main container*/
margin: 0 auto; /*Center container on page*/
}

#topsection{
background: #393939;
height: 90px; /*Height of top section*/
border-bottom: 5px solid #FF9900;
border-bottom-left-radius : 3px;
border-bottom-right-radius : 3px;
}
#topsection h1{
margin: 0;
padding-top: 15px;
font-family  :'Berlin Sans FB';
font-size :60px;
color : white;
}


#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
min-height : 470px;
}

#footer{
border-top: 5px solid #FF9900;
border-top-left-radius : 3px;
border-top-right-radius : 3px;
clear: left;
width: 100%;
background: #393939;
color: #FFF;
text-align: center;
padding: 4px 0;
}

#footer p{
color: white;
}

.innertube{
     /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}